<div class="container">
  <div class="jumbotron" style="text-align: center;">
    <img src="/public/assets/img/burger.jpg">
    <h1>Burger Database</h1>
  </div>

  <div class="row">
    <div class="col-6">
      <h2>Burgers I have yet to devour!</h2>

      <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        <li class="list-group-item">
          <div class="input-group">
            <p class="lead">{{this.burgerName}}</p>
            <span class="input-group-btn">

              <form class="devour-form" class="button-size">
                <input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
                <button type="button" class="eatburger btn btn-default" id="eatbutton">Devour it!</button>
              </form>
            </span>
          </div>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-6">
      <h2>Burgers I have devoured!</h2>

      <div class="panel panel-default">
        <ul class="list-group">
          {{#each burgers}}
          {{#if devoured}}
          <li class="list-group-item">
            <p class="lead">{{burgerName}}</p>
            {{> burgers/burger-block devour=true}}
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row">
      <div class="col">
        <h2>Add a Burger</h2>
        <form class="create-form">
          <input type="text" class="form-control" name="newBurger" id="newburger" value="">
          <button type="submit" class="btn btn-primary" id="text-enter-button" id="addburger">Submit</button>
        </form>
        <p>Enter a burger you want to eat Click the "Submit" button.</p>
      </div>
    </div>
  </div>
</div>
</div>